<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>
<body style="background:#6aa1a6" ;>
    <h1 style="color:rgb(175, 11, 16);text-align: center;";>G-Shock</h1>
    <h4 style="color:navy;text-align: center; ";>$10000</h4>
    <blockquote style="color:hsl(185°, 54%, 1%);text-align: center;"><b>G-Shock is a line of rugged, highly durable watches manufactured by the Japanese electronics company Casio. Famous for their "Absolute Toughness," they are uniquely designed to resist intense mechanical stress, vibration, and impact. They are widely used for sports, outdoor adventures, and military applications.</b></blockquotes>
    
</body>
</html> 